{% extends 'layouts/base.html' %}

{% block content %}
<!-- Text Input -->
<div id="input-text-box" class="text-box" contenteditable="true"></div>
<div class="btn-container">

    <!-- Say Button -->
    <button id="say-it-button">SAY IT</button>

    <!-- Language Selector -->
    <div class="dropdown">
        <button class="dropbtn"></button>
        <div id="language-dropdown" class="dropdown-content">
        </div>
    </div>
</div>
<!-- Audio Element -->
<audio id="audio" controls hidden></audio>
{% endblock %}